/* Header css  */
@media (min-width:320px) and (max-width:767px){
    .top-navbar .navbar-brand img {
        position: absolute;
        top: -31px;
        left: 0px;
        width: 85px;
    }
    .top-navbar .navbar-fixed .navbar-brand img{
        width: 85px;
    }
    .header-section .top-bar{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .header-section .top-bar .enquiry-block{
        margin-bottom: 10px;
    }
    .top-right-block{
        text-align: center;
    }
    .slider-block .slide-content h2,
    .assessment-form-caption h2,
    .section-title h2{
        font-size: 30px;
    }
    .section-title p{
        font-size: 18px;
        line-height: 30px;
    }
    .counselling-card-body p{
        font-size: 18px;
        text-align: center !important;
    }
    .assessment-form-section .arrow-down{
        left: 40%;
    }
    .counter-section .counter-card .counter, .counter-section .counter-card .num-pluse{
        font-size: 70px;
    }
    .testimonial-section .testiminial-content p{
        font-size: 18px;
        line-height: 30px;
    }
    .faq-section .accordion-item .accordion-header .accordion-button{
        font-size: 18px;
        line-height: 30px;
    }
    .faq-section .accordion-item .accordion-collapse .accordion-body p{
        font-size: 16px;
        line-height: 30px;
    }
    .news-cart .news-cart-body h3{
        font-size: 24px;
    }
    .footer-section .footer-logo{
        max-width: 60%;
    }
    .footer-subscribe form{
        flex-wrap: wrap;
    }
    .footer-subscribe .submit-btn{
        width: 100%;
    }
    .footer-subscribe .social-media{
        flex-wrap: wrap;
    }
    .footer-subscribe .social-media p{
        margin-top: 15px;
    }
    .faq-section .section-title .title-dcs p,
    .meet-listeners-section .section-title .title-dcs p,
    .we-listen-content .section-title p,
    .counselling-section .section-title .title-dcs p,
    .story-content-block .section-title .story-dsc p{
        font-size: 18px;
        line-height: 30px;
    }
    .footer-subscribe input.form-control{
        margin-bottom: 15px;
        height: 48px;
    }
}


@media (min-width:768px) and (max-width:991px){
    .footer-section .footer-link ul{
        padding: 0;
    }
    .footer-subscribe form{
        flex-wrap: wrap;
    }
    .footer-subscribe .submit-btn{
        width: 100%;
    }
    .footer-subscribe .social-media{
        flex-wrap: wrap;
    }
    .footer-subscribe .social-media p{
        margin-top: 15px;
    }
    .footer-section .footer-link ul li a{
        font-size: 14px;
    }
    .footer-section .footer-link ul li{
        padding: 10px 0px 10px 0px;
    }
    .footer-subscribe p{
        font-size: 14px;
    }
    .footer-subscribe .social-media p{
        font-size: 16px;
    }
    .news-cart .news-cart-body h3{
        font-size: 22px;
    }
    .slider-block .slide-content h2, .assessment-form-caption h2, .section-title h2{
        font-size: 30px;
    }
    .faq-section .section-title .title-dcs p,
    .meet-listeners-section .section-title .title-dcs p,
    .we-listen-content .section-title p,
    .counselling-section .section-title .title-dcs p,
    .story-content-block .section-title .story-dsc p,
    .counselling-card-body p{
        font-size: 18px;
        line-height: 30px;
    }
    .counter-section .counter-card .counter, .counter-section .counter-card .num-pluse{
        font-size: 70px;
    }
    .testimonial-section .testiminial-content p{
        font-size: 18px;
        line-height: 30px;
    }
    .faq-section .accordion-item .accordion-header .accordion-button{
        font-size: 18px;
        line-height: 30px;
    }
    .faq-section .accordion-item .accordion-collapse .accordion-body p{
        font-size: 16px;
        line-height: 30px;
    }
    .testimonial-section .testiminial-content h3,
    .counselling-card-body h3{
        font-size: 24px;
    }
    .listeners-team-card h3{
        font-size: 18px;
    }
    .listeners-team-card p{
        font-size: 14px;
        line-height: 22px;
    }
    .default-btn{
        padding: 12px;
    }
    .assessment-form-section .arrow-down{
        left: 47%;
    }
    .top-navbar .navbar-brand img{
        top: -40px;
        width: 140px;
    }
    .top-right-block{
        text-align: center;
    }
    .footer-subscribe input.form-control{
        margin-bottom: 15px;
        height: 48px;
    }
}

@media (min-width:992px) and (max-width:1023px){
    .assessment-form-section .arrow-down{
        left: 47%;
    }
    .counter-section .counter-card .counter, .counter-section .counter-card .num-pluse{
        font-size: 80px;
    }

}

@media (min-width:1024px) and (max-width:1199px){
    .assessment-form-section .arrow-down{
        left: 47%;
    }
    .counter-section .counter-card .counter, .counter-section .counter-card .num-pluse{
        font-size: 80px;
    }
    .footer-subscribe .social-media{
        /* flex-wrap: wrap; */
    }
    .top-navbar .navbar-expand-lg .navbar-nav{
        margin-right: 0px !important;
    }
    .top-right-block{
        display: none;
    }
}

@media (min-width:1200px){
  
}